<div class="form-group">
  <div id="display-name" class="row">
    <div class="col-md-3">
      <input id="user_name_input" type="text" name="politician[user_name]" value="<%= @politician.user_name %>" placeholder="Twitter username" class="form-control" />
    </div>
    <div class="col-md-3">
      <input id="first_name_input" type="text" name="politician[first_name]" value="<%= @politician.first_name %>" placeholder="Primer nombre" class="form-control input-text" />
    </div>
    <div class="col-md-3">
      <input id="middle_name_input" type="text" name="politician[middle_name]" value="<%= @politician.middle_name %>" placeholder="Segundo nombre" class="form-control input-text" />
    </div>
    <div class="col-md-3">
      <input id="last_name_input" type="text" name="politician[last_name]" value="<%= @politician.last_name %>" placeholder="Apellido nombre" class="form-control input-text" />
    </div>
  </div>
</div>
